parameters:

  level: 6
  paths:
    - app
    - core
    - tests

  excludePaths:
    - app/views/*
    - tests/Acceptance/_output/*
    - tests/Support/_generated/*
    - tests/Support/Data/*
    - tests/Support/AcceptanceTester.php

  ignoreErrors:
    - '#Unsafe usage of new static\(\)\.#'
    - '#Call to method PHPUnit\\Framework\\Assert::(assertTrue|assertNotNull)\(\) with .* will always evaluate to true\.#'
    - '#Call to function method_exists\(\) with .* will always evaluate to true\.#'
    - '#Variable \$_(REQUEST|POST|GET) on left side of \?\? always exists and is not nullable\.#'
    - '#Access to protected property App\\Models\\UserCredential::\$password\.#'
    - '#Access to an undefined property App\\Models\\UserCredential::\$password_confirmation\.#'

  treatPhpDocTypesAsCertain: false
