parameters:

  level: 6
  paths:
    - app
    - core
    - tests

  excludePaths:
    - app/views/*
    - tests/Acceptance/_output/*
    - tests/Support/_generated/*
    - tests/Support/Data/*
    - tests/Support/AcceptanceTester.php

  ignoreErrors:
    - '#Unsafe usage of new static\(\)\.#'


